html,body{
    width:100%;
    height: 100%;
    min-height: 100vh;
    padding:0;
    margin:0;
    background:var(--white-gray);
    box-sizing: border-box;
}
*{
    margin:0;
    padding:0
}
*,input,button{
    border:0;
    outline: 0;
    font-family: 'Nunito', sans-serif;
}
a{
    text-decoration: none;
}
.content a,.subscribe button{
    -webkit-transition: color ease 0.7s,box-shadow ease-out 0.7s;
	-moz-transition: color ease 0.7s;
	transition: color ease 0.7s,box-shadow ease-out 0.7s;
}
.content a:hover,.subscribe button:hover{
    box-shadow: inset 400px 0 0 0 #333;
    color: white;
}
#root{
    --white-gray:#DFE2BD;
    --black: #191919;
    --soft-black:#101820FF;
    --yellow: #EFF059;
    --soft-yellow:#FEE715FF;
}